<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

<style>
    h1 {
        font-family: "Rubik Mono One", monospace;   
        text-align: center;
    }

    .container-img img  {
        width: 300px;
        height: 300px;
        display: flex;
        background-color: rgb(20, 120, 235);
        border-radius: 100%;
        position: absolute;
        left: 650px;
        top: 180px;
    }

    .container-img a {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

</style>

<h1>Bem-vindo ao Jura Lanches</h1>

<div class="container-img">
    <img src="/img/lanche.png" alt="">
    <a href="/pedido/fazer">Fazer pedido</a>
</div>